.xml-leaf, .xml-group {
	float: left;
	width: 100%;
}

.xml-level-1 {
	margin-left:30px;
	float: left;
	width: 30%;
}
.xml-level-2 {
	float: left;
	width: 30%;	
	margin-left:70px;
}
.xml-level-3 {
	float: left;
	width: 30%;	
	margin-left:100px;
}
.xml-level-4 {
	float: left;
	width: 30%;	
	margin-left:150px;
}

.xml-group .xml-level-1 {
	font-size: 2em;
}

.xml-group .xml-level-2 {
	margin-top: 1em;
	font-size: 1.5em;
}

.xml-group .xml-level-3 {
	margin-top: 1em;
	font-size: 1.2em;
}
.xml-value {
	float: left;
	margin-left: 1%;
}
