<!-- load the main HTMLArea files -->
<script language="javascript" type="text/javascript" src="http://m2t.321.lt/sviesa/admin/tiny_mce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="http://m2t.321.lt/sviesa/admin/tiny_mce/m2_images.js"></script>
<script language="javascript" type="text/javascript">
tinyMCE.init({
			mode : "exact",
			elements : "content",
			theme : "optimalsite",
			plugins : "style,layer,table,save,advhr,advimage,advlink,doclink,preview,media,searchreplace,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,xhtmlxtras",

				theme_optimalsite_buttons1 : "cut,copy,paste,pasteword,|,undo,redo,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,forecolor,backcolor",
				theme_optimalsite_buttons2 : "link,unlink,anchor,image,doclink,advhr,charmap,media,|,bullist,numlist,|,outdent,indent,|,sub,sup",
				theme_optimalsite_buttons3 : "tablecontrols,|,removeformat,cleanup,replace,visualaid,code,preview",
				theme_optimalsite_buttons4 : "styleselect,formatselect,fontselect,fontsizeselect,|,fullscreen",

			theme_optimalsite_toolbar_location : "top",
			theme_optimalsite_toolbar_align : "left",
			theme_optimalsite_path_location : "bottom",
			extended_valid_elements : "hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]",
			theme_optimalsite_resize_horizontal : false,
			theme_optimalsite_resizing : true,
			nonbreaking_force_tab : true,
			apply_source_formatting : true,
			convert_urls : false,
			content_css : "styles/style2.css",
			accessibility_warnings : false,
			file_browser_callback : "m2_gallery.galleryCallBack",
			optimalsite_path : "http://m2t.321.lt/sviesa/admin/",
			language : "lt"
		});
</script>

</head>


<form action="add_object_files.php" method="POST" enctype="multipart/form-data" name="lom" id="edit">
<input type="hidden" name="id" value="{ID}">
<input type="hidden" name="xpath" value="{XPATH}">
<input type="hidden" name="nexturl" value="{NEXTURL}">
<table>
<tr><td>
  <p>Įvedamas HTML tekstas</p>
  <table><tr>

<tr>
<th>&nbsp;</th>
<td>

<textarea name="content" style="width:100%" rows="20" cols="100">{DATA2}</textarea>
</td>
</tr>
</table>
  <p>Prisegamos iliustracijos (1024x768)</p>
  <p>
 
    <input type="hidden" name="MAX_FILE_SIZE" value="30000000" >
    <input name="F1" type="file" size="20" >
	 <!-- BEGIN DYNAMIC BLOCK: view1 -->
	<br>{DATA3}
	<!-- END DYNAMIC BLOCK: view1 -->
</p>
  <p>Prisegamas *. Flv failas (Video klipas)</p>
  <p>
    <input type="hidden" name="MAX_FILE_SIZE2" value="30000000">
    <input name="F2" type="file" size="20" >
	<br>{DATA4}</p>
  <p>Prisegami susiję failai</p>
  <p>
  
    <input type="hidden" name="MAX_FILE_SIZE3" value="30000000">
    <input name="F3" type="file" id="F3" size="20" >
	<!-- BEGIN DYNAMIC BLOCK: view -->
	<br>{DATA5}
	<!-- END DYNAMIC BLOCK: view -->
        <input type="submit" name="Submit" value="Prisegti">
</form>
