<form enctype="multipart/form-data" action="add_object_files.php" method="POST"> 
<input type="hidden" name="id" value="{ID}">
<input type="hidden" name="xpath" value="{XPATH}">
<input type="hidden" name="nexturl" value="{NEXTURL}">
  <p>Prisegamas Flash failas (Flash demonstracija)</p>
<input type="hidden" name="MAX_FILE_SIZE" value="30000000" >
<input name="F1" type="file" size="20" > 
<br>{DATA6}<p>Prisegami susiję failai</p>

<input type="hidden" name="MAX_FILE_SIZE" value="30000000"> 
<input name="F2" type="file" size="20" >
<!-- BEGIN DYNAMIC BLOCK: view --> 
<br>{DATA5}
<!-- END DYNAMIC BLOCK: view -->
<input type="submit" name="Submit" value="Prisegti">
</form>
