{HEAD}
<div id="txt_left">
<h1>Naujausi mokymosi objektai</h1>
<form id="form2" name="form2" method="post" action="all_new_objects.php?order_by=subject&amp;page=1">
<ul id="sort">
<li class="left"> Nuo: </li>
<li class="left"> <select name="from_year" size="1" id="from_year">
          <option value="2007" selected="selected">2007</option>
      </select> </li>
<li class="left"> <select name="from_month" size="1" id="from_month">
          <option value="01" selected="selected">sausis</option>
          <option value="02">vasaris</option>
          <option value="03">kovas</option>
          <option value="04">balandis</option>
          <option value="05">gegu&#382;&#279;</option>
          <option value="06">bir&#382;elis</option>
          <option value="07">liepa</option>
          <option value="08">rugpj&#363;tis</option>
          <option value="09">rugs&#279;jis</option>
          <option value="10">spalis</option>
          <option value="11">lapkritis</option>
          <option value="12">gruodis</option>
      </select> </li>
<li class="left"> <select name="from_day" size="1" id="from_day">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
      </select> </li>
<li class="left"> Iki:</li>
<li class="left"> <select name="to_year" size="1" id="to_year">
          <option value="2007" selected="selected">2007</option>
      </select> </li>
<li class="left"> <select name="to_month" size="1" id="to_month">
          <option value="01">sausis</option>
          <option value="02">vasaris</option>
          <option value="03">kovas</option>
          <option value="04">balandis</option>
          <option value="05">gegu&#382;&#279;</option>
          <option value="06">bir&#382;elis</option>
          <option value="07">liepa</option>
          <option value="08">rugpj&#363;tis</option>
          <option value="09">rugs&#279;jis</option>
          <option value="10">spalis</option>
          <option value="11">lapkritis</option>
          <option value="12" selected="selected">gruodis</option>
      </select> </li>
<li class="left"> <select name="to_day" size="1" id="to_day">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31" selected="selected">31</option>
      </select> </li>


</ul>
<ul id="sort">
<li class="left">Dalykas:</li>  
<li class="left"><select name="subject" size="1" id="to_day">
    <option value="empty"></option>
<!-- BEGIN DYNAMIC BLOCK: view1 -->
{ALL_SUBJECTS}
<!-- END DYNAMIC BLOCK: view1 -->
</select>
</li>  
<li class="right"><a href='javascript:document.form2.submit()'><span>Filtruoti</span></a></li>
</ul>
</form>
<ul id="sort">

<li class="left">Viso: {AT_ALL} <span>Rušiuoti pagal:</span></li>

	  
<li class="right"><a href="all_new_objects.php?order_by=subject&amp;page=1"><span>Dalyką</span></a></li>
<li class="right"><a href="all_new_objects.php?order_by=modified&amp;page=1"><span>Įvedimo datą</span></a></li>
</ul>
<!-- BEGIN DYNAMIC BLOCK: view -->
<div class="news">
{ID}
</div>
<!-- END DYNAMIC BLOCK: view -->

{PRINT_PAGES}
</div>
</div>
<div id="main_right">
{MENIU}
</div>
{FOOTER}
</div>

</div>
</body>
</html>