<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
<p>{HEAD}
</p>
<table width="613">
  <tr>
    <td width="110"><a href='check_bad_com.php?page=1'>Nauji komentarai</a></td>
    <td width="135"><a href='checked_comments.php?page=1'>Per&#382;i&#363;r&#279;ti komentarai </a></td>
    <td width="139"><a href='bad_comments.php?page=1'>Netinkami komentarai </a></td>
    <td width="219"><a href='bad_words.php?page=1'>Netinkami &#382;od&#382;iai </a></td>
  </tr>
</table>
<form id="form2" name="form2" method="post" action="bad_comments.php?page=1">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>Filtruoti komentarus : </p>
  <table width="248">
    <tr>
      <td width="31">nuo:</td>
      <td width="65"><select name="from_year" size="1" id="from_year">
          <option value="2007" selected="selected">2007</option>
      </select></td>
      <td width="87"><select name="from_month" size="1" id="from_month">
          <option value="01" selected="selected">sausis</option>
          <option value="02">vasaris</option>
          <option value="03">kovas</option>
          <option value="04">balandis</option>
          <option value="05">gegu&#382;&#279;</option>
          <option value="06">bir&#382;elis</option>
          <option value="07">liepa</option>
          <option value="08">rugpj&#363;tis</option>
          <option value="09">rugs&#279;jis</option>
          <option value="10">spalis</option>
          <option value="11">lapkritis</option>
          <option value="12">gruodis</option>
      </select></td>
      <td width="161"><select name="from_day" size="1" id="from_day">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
      </select></td>
    </tr>
    <tr>
      <td>iki:</td>
      <td><select name="to_year" size="1" id="to_year">
          <option value="2007" selected="selected">2007</option>
      </select></td>
      <td><select name="to_month" size="1" id="to_month">
          <option value="01">sausis</option>
          <option value="02">vasaris</option>
          <option value="03">kovas</option>
          <option value="04">balandis</option>
          <option value="05">gegu&#382;&#279;</option>
          <option value="06">bir&#382;elis</option>
          <option value="07">liepa</option>
          <option value="08">rugpj&#363;tis</option>
          <option value="09">rugs&#279;jis</option>
          <option value="10">spalis</option>
          <option value="11">lapkritis</option>
          <option value="12" selected="selected">gruodis</option>
      </select></td>
      <td><select name="to_day" size="1" id="to_day">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31" selected="selected">31</option>
      </select></td>
    </tr>
  </table>
  <p>
    <label>
    <input type="submit" name="Submit2" value="Filtruoti" />
    </label>
  </p>
</form>
<p>
  <label></label>
  <label></label>
  <label></label>
</p>
<form name="form1" method="post" action="comment_bad_sumbmit.php">
  <table width="780">
    <tr>
      <td width="21">&nbsp;</td>
      <td width="63">Data:</td>
      <td width="108">Vartotojo vardas: </td>
      <td width="100">Komentaras:</td>
      <td width="115">E-pa&scaron;tas</td>
      <td width="345">Veiksmas:</td>
    </tr>
	 <!-- BEGIN DYNAMIC BLOCK: view -->
    <tr>
       <td>{CHECK}</td>
      <td>{DATE}</td>
      <td>{USER_AUTH} </td>
      <td>{COM_TEXT}</td>
      <td>{EMAIL}</td>
      <td>{EDIT}</td>
    </tr>
	<!-- END DYNAMIC BLOCK: view -->
  </table>
  <label>
  <div align="left"><br />
    	<table width="780">
          <tr>
            <td>Visus pa&#382;ymetus:
              
              <label>
              <select name="select" size="1">
                <option value="delete" selected="selected">I&scaron;trinti</option>
                <option value="mark_as_viewed">Pa&#382;ym&#279;ti kaip per&#382;i&#363;r&#279;tus</option>
              </select>
              </label></td>
          </tr>
          <tr>
            <td height="43"><div align="left">
              <input type="submit" name="Submit" value="Keisti" />
            </div></td>
          </tr>
          <tr>
            <td><div align="center">{PSL}</div></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
    	<br />
    <br />
   
  </div>
  </label>
  <a href='comment_edit.php?com_id={ID}'></a>
	
    <p>&nbsp;  </p>
</form>
<p>&nbsp;</p>
<p><a title='nustatyti kaip tinkama' href='javascript:doit(&quot;Nustatyti kaip tinkama?&quot;,&quot;../user/object_com_set_valid.php?id={ID}&quot;)'></a><a title='nustatyti kaip tinkama' href='javascript:doit(&quot;Nustatyti kaip tinkama?&quot;,&quot;../user/object_com_set_valid.php?id={ID}&quot;)'></a></p>
<br>
{FOOTER}
