<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
<p>{HEAD}
</p>
<table width="613">
  <tr>
    <td width="110"><a href='check_bad_com.php?page=1'>Nauji komentarai</a></td>
    <td width="135"><a href='checked_comments.php?page=1'>Per&#382;i&#363;r&#279;ti komentarai </a></td>
    <td width="139"><a href='bad_comments.php?page=1'>Netinkami komentarai </a></td>
    <td width="219"><a href='bad_words.php?page=1'>Netinkami &#382;od&#382;iai </a></td>
  </tr>
</table>
<form name="form1" method="post" action="bad_words.php?edit=1">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>Cenzuruojami &#382;od&#382;iai:</p>
  <table width="319">
    <tr>
      <td width="34">Id</td>
      <td width="174">&#381;odis</td>
      <td width="174">&nbsp;</td>
    </tr>
	<!-- BEGIN DYNAMIC BLOCK: view -->
    <tr>
      <td>{ID}</td>
      <td><label>
        <input name="textfield{ID}" type="text" id="textfield{ID}" value="{BAD_WORD}" />
      </label></td>
      <td><a href="bad_words.php?delete={ID}">I&scaron;trinti</a></td>
    </tr>
	<!-- END DYNAMIC BLOCK: view -->
  </table>
  <p>
    <label>
    &#302;d&#279;ti nauj&#261;
    <input name="add_new" type="checkbox" id="add_new" value="ok" />
    </label>
  </p>
  <p>
    <label>
    <input name="add_word" type="text" id="add_word" />
    </label>
  </p>
  <p> 
    <label>
    </label>
    <a href='comment_edit.php?com_id={ID}'></a>
    <label>
    <input type="submit" name="Submit" value="keisti" />
    </label>
  </p>
  <p>&nbsp;  </p>
</form>
<p>&nbsp;</p>
<p><a title='nustatyti kaip tinkama' href='javascript:doit(&quot;Nustatyti kaip tinkama?&quot;,&quot;../user/object_com_set_valid.php?id={ID}&quot;)'></a><a title='nustatyti kaip tinkama' href='javascript:doit(&quot;Nustatyti kaip tinkama?&quot;,&quot;../user/object_com_set_valid.php?id={ID}&quot;)'></a></p>
<br>
{FOOTER}
