{HEAD}
{SUBMENU}
<form name="fClassificator" method="POST" action="classificator_mapping3.php">
<input type="hidden" name="c1" value="{CLASSIFICATOR1}">
<input type="hidden" name="c2" value="{CLASSIFICATOR2}">
<table>
<tr>
<th colspan="2">Klasifikatoriaus atvaizdavimas</th>
</tr>
{CLASSIFICATOR_MAPPING}
<tr>
<th>Veiksmai</th><td>
<input type="submit" value="Atvaizduoti">
</td>
</tr>
</table>
</form>
{FOOTER}
