{HEAD}
{SUBMENU}
<table cellspacing="10">
<tr>
<th >Klasifikatoriai:</th>
</tr><tr>
<th>id</th>
<th>Pavadinimas</th>
<th>Autorius</th>
<th>Paieška</th>
<th>Atvaizdavimui (XML)</th>
<th>Versija</th>
<th>Veiksmas</th>
</tr>
<!-- BEGIN DYNAMIC BLOCK: view -->
<tr>
<td>{CLASSIFICATOR_ID}</td>
<td>{CLASSIFICATOR_TITLE}</td>
<td>{CLASSIFICATOR_AUTHOR}</td>
<td>{CLASSIFICATOR_SEARCH_ENABLED}</td>
<td>{CLASSIFICATOR_MAPPING}</td>
<td>{CLASSIFICATOR_VERSION}</td>
<td>
<a title='Keisti klasifikatorių' href='../admin/classificator_edit.php?cid={CLASSIFICATOR_ID}'><img border=0 src='../img/edit_lt.gif' alt='Keisti'></a>
<a title='Šalinti klasifikatorių' href='javascript:doit("Šalinti ?!!!!!!!!!!!!!","../admin/classificator_delete.php?cid={CLASSIFICATOR_ID}")'><img border=0 src='../img/delete.gif' alt='Šalinti'></a>
</td>
</tr>
<!-- END DYNAMIC BLOCK: view -->
</table>
<form name="fClassificator" method="POST" action="classificator_save.php">
Registruoti naują klasifikatorių: <input type="text" name="cItem" size="120">
<input type="submit" value="Saugoti">
</form>
<br>
{FOOTER}
