{HEAD}
{SUBMENU}
<form name="fClassificator" method="POST" action="classificator_mapping2.php">
<table>
<tr>
<th colspan="2">Klasifikatoriaus atvaizdavimas</th>
</tr><tr>
<th>Pasirinkite klasifikatorių atvaizdavimui</th><td><select name="c1">{CLASSIFICATORS1}</select></td>
</tr><tr>
<th>Atvaizduoti į</th><td><select name="c2">{CLASSIFICATORS2}</select></td>
</tr>
<tr>
<th>Veiksmai</th><td>
<input type="submit" value="Atvaizduoti">
</td>
</tr>
</table>
</form>
{FOOTER}
