<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
<p>{HEAD}
</p>
<table width="613">
  <tr>
    <td width="110"><a href='check_bad_com.php?page=1'>Nauji komentarai</a></td>
    <td width="135"><a href='checked_comments.php?page=1'>Per&#382;i&#363;r&#279;ti komentarai </a></td>
    <td width="139"><a href='bad_comments.php?page=1'>Netinkami komentarai </a></td>
    <td width="219"><a href='bad_words.php?page=1'>Netinkami &#382;od&#382;iai </a></td>
  </tr>
</table>
<form name="form1" method="post" action="comment_edit.php?edited=1&com_id={COM_ID}">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table width="780" height="106">
    <tr>
      <td width="18">&nbsp;</td>
      <td width="61">Data:</td>
      <td width="102">Vartotojo vardas: </td>
      <td width="217">Komentaras:</td>
      <td width="104">E-pa&scaron;tas</td>
      <td width="250">&nbsp;</td>
    </tr>
	 
    <tr>
      <td>&nbsp;</td>
      <td valign="top">{DATE}</td>
      <td valign="top">{USER} </td>
      <td valign="top"><textarea name="textfield" id="textfield">{COM_TEXT}</textarea></td>
      <td valign="top">{EMAIL}</td>
    </tr>
  </table>
  <label>
  <label></label>
  <div align="left"><br />
    	<table width="780">
          <tr>
            <td><label></label></td>
          </tr>
          <tr>
            <td height="43"><div align="left">
              <input type="submit" name="Submit" value="Keisti" />
            </div></td>
          </tr>
      
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
    	<br />
    <br />
   
  </div>
  </label>
  <a href='comment_edit.php?com_id={ID}'></a>
	
    <p>&nbsp;  </p>
</form>
<p>&nbsp;</p>
<p><a title='nustatyti kaip tinkama' href='javascript:doit(&quot;Nustatyti kaip tinkama?&quot;,&quot;../user/object_com_set_valid.php?id={ID}&quot;)'></a><a title='nustatyti kaip tinkama' href='javascript:doit(&quot;Nustatyti kaip tinkama?&quot;,&quot;../user/object_com_set_valid.php?id={ID}&quot;)'></a></p>
<br>
{FOOTER}
