<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
<p>{HEAD}</p>
<p><a href="active_version.php">Nustati aktyvi&#261; versij&#261; </a></p>
<h1>Standarto versijos redagavimas</h1>
<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="./final_version_edit.php?count={N}&version={CURRENT_VERSION}{NEW_VERSION}">
  <p>
    <select name="menu2" onchange="MM_jumpMenu('window',this,0)">
	<!-- BEGIN DYNAMIC BLOCK: view1 -->
      <option value="edit_version.php?version={VERSION}" {SELECTED{VERSION}}>{VERSION}</option>
	  <!-- END DYNAMIC BLOCK: view1 -->
    <option value="edit_version.php?version={VERSION_NEW}&version_new=0" {SELECTED{VERSION_NEW}}>Prideti nauja versija</option>
    </select>
    <a href="standard_version_compare1.php">Palyginti versijas</a>
    <a href="edit_version.php?version={CURRENT_VERSION}&amp;version_new={VERSION_NEW}"> </a></p>
  <p>Sukurti nauj&#261; versij&#261; pagal &scaron;i&#261; 
    <label>
    <input name="textfield" type="text" value="{CURRENT_VERSION}" />
    </label>
    <input name="hiddenField" type="hidden" value="{CURRENT_VERSION}" />
  </p>
  <table width="1200">
   <tr>
      <td width="150" height="59"><label>ID</label></td>
      <td width="116"> Pavadinimas( lt) </td>
      <td width="70">Pavadinimas(en)</td>
      <td width="21">Kelias</td>
      <td width="50">Kelias2</td>
      <td width="50">Apribojimai</td>
      <td width="50">Lauko apibr&#279;&#382;tis(lt)</td>
      <td width="50">Lauko apibr&#279;&#382;tis(en)</td>
      <td width="50">Reik&scaron;m&#279;(lt)</td>
      <td width="50">Reik&scaron;m&#279;(en)</td>
      <td width="50">Lauko apibr&#279;&#382;tis 2 (lt)</td>
      <td width="50">Lauko apibr&#279;&#382;tis 2 (en)</td>
      <td width="50">Pastaba</td>
      <td width="50">Pavyzdys</td>
      <td width="50">B&#363;sena</td>
      <td width="50">Lauko tipas</td>
      <td width="50">Versija</td>
      <td width="117">&nbsp;</td>
    </tr>
    <!-- BEGIN DYNAMIC BLOCK: view -->
	<tr>
      <td width="150"><input name="textfield{N}_1" type="text" value="{ID}" /></td>
      <td width="116"><input name="textfield{N}_2" type="text" value="{NAME_LT}" /></td>
      <td width="70"><input name="textfield{N}_3" type="text" value="{NAME_EN}" /></td>
      <td width="21"><input name="textfield{N}_4" type="text" value="{XPATH}" /></td>
      <td width="50"><input name="textfield{N}_5" type="text" value="{XPATH2}" /></td>
      <td width="50"><input name="textfield{N}_6" type="text" value="{LIMITS}" /></td>
      <td width="50"><input name="textfield{N}_7" type="text" value="{DEFINITION_LT}" /></td>
      <td width="50"><input name="textfield{N}_8" type="text" value="{DEFINITION_EN}" /></td>
      <td width="50"><input name="textfield{N}_9" type="text" value="{VALUE_LT}" /></td>
      <td width="50"><input name="textfield{N}_10" type="text" value="{VALUE_EN}" /></td>
      <td width="50"><input name="textfield{N}_11" type="text" value="{DEFINITION2_LT}" /></td>
      <td width="50"><input name="textfield{N}_12" type="text" value="{DEFINITION2_EN}" /></td>
      <td width="50"><input name="textfield{N}_13" type="text" value="{NOTE_LT}" /></td>
      <td width="50"><input name="textfield{N}_14" type="text" value="{SAMPLE_LT}" /></td>
      <td width="50"><input name="textfield{N}_15" type="text" value="{LEVEL}" /></td>
      <td width="50"><input name="textfield{N}_16" type="text" value="{HTML_TYPE}" /></td>
      <td width="50"><input name="textfield{N}_17" type="text" value="{SOURCE}" /></td>
      <td width="117">&nbsp;</td>
    </tr>
	<input type="hidden" name="hiddenField{N}" value="{ID}" />
	<!-- END DYNAMIC BLOCK: view -->
  </table>
  <p>
    <label>
    
    </label>
    &#302;d&#279;ti nauj&#261; 
    <label>
    <input type="checkbox" name="checkbox" value="checkbox" />
    </label>
  </p>
  <table width="1200">
    <tr>
      <td width="150" height="59"><label>ID</label></td>
      <td width="116"> Pavadinimas( lt) </td>
      <td width="70">Pavadinimas(en)</td>
      <td width="21">Kelias</td>
      <td width="50">Kelias2</td>
      <td width="50">Apribojimai</td>
      <td width="50">Lauko apibr&#279;&#382;tis(lt)</td>
      <td width="50">Lauko apibr&#279;&#382;tis(en)</td>
      <td width="50">Reik&scaron;m&#279;(lt)</td>
      <td width="50">Reik&scaron;m&#279;(en)</td>
      <td width="50">Lauko apibr&#279;&#382;tis 2 (lt)</td>
      <td width="50">Lauko apibr&#279;&#382;tis 2 (en)</td>
      <td width="50">Pastaba</td>
      <td width="50">Pavyzdys</td>
      <td width="50">B&#363;sena</td>
      <td width="50">Lauko tipas</td>
      <td width="50">Versija</td>
      <td width="117">&nbsp;</td>
    </tr>
    <tr>
      <td><input name="textfield1" type="text" /></td>
      <td><input name="textfield2" type="text" /></td>
      <td><input name="textfield3" type="text" /></td>
      <td><input name="textfield4" type="text" /></td>
      <td><input name="textfield5" type="text" /></td>
      <td><input name="textfield6" type="text" /></td>
      <td><input name="textfield7" type="text" /></td>
      <td><input name="textfield8" type="text" /></td>
      <td><input name="textfield9" type="text" /></td>
      <td><input name="textfield10" type="text" /></td>
      <td><input name="textfield11" type="text" /></td>
      <td><input name="textfield12" type="text" /></td>
      <td><input name="textfield13" type="text" /></td>
      <td><input name="textfield14" type="text" /></td>
      <td><input name="textfield15" type="text" /></td>
      <td><input name="textfield16" type="text" /></td>
	   <td><input name="textfield17" type="text" /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <p>&nbsp; </p>
  <p align="center">	
    <label>
    <input type="submit" name="Submit" value="I&scaron;saugoti" />
    </label>
  </p>
</form>
<p>&nbsp;</p>
<p><br>
  {FOOTER}</p>
