{HEAD}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
<table cellspacing="10">
<tr>
<th >Mano mokomieji objektai:</th>
</tr><tr>
<th>id</th>
<th>Pavadinimas</th>
<th>Veiksmas</th>
<th>Peržiūrų</th>
</tr>
<!-- BEGIN DYNAMIC BLOCK: view -->
<tr>
<td>{ID}</td>
<td>{TITLE_SHORT}</td>
<td>
<a title='View object' href='object_view.php?object_id={ID}'><img border=0 src='../img/view.gif' alt='View'></a>
<a title='Save object metadata' href='object_export_lom.php?object_id={ID}'><img border=0 src='../img/xml.gif' alt='Save object metadata'></a>
<a title='Edit object' href='object_load.php?object_id={ID}&language=lt'><img border=0 src='../img/edit_lt.gif' alt='Edit'></a>
<a title='Delete object' href='javascript:doit("Delete?","object_delete.php?object_id={ID}")'><img border=0 src='../img/delete.gif' alt='Delete'></a>
</td>
<td><blockquote>
  <p>
    {COUNTER}
  </p>
</blockquote></td>
</tr>
<!-- END DYNAMIC BLOCK: view -->
</table>
<br>
{FOOTER}
