<hr align="left" noshade="noshade" size="2" width="100%" color="#000000">
<span class="navi">&nbsp;&nbsp;</span><span class="textfett">&copy; 2004-2013 metalot.com. Platinama pagal GPL licenciją. Projekto svetainė <a href="http://lombase.eduforge.org">lombase.eduforge.org</a></span></div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-2943126-1";
if (typeof(urchinTracker) == 'function') urchinTracker();
</script>
</body>
</html>
