<table cellpadding="2" cellspacing="2" border="0"
 style="width: 100%; text-align: left; background-color: rgb(255, 204, 102);">
  <tbody>
    <tr>
      <td style="vertical-align: top;">
	  {TITLE}, Copyright&copy;2004-2013 metalot.com
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
