{HEAD}
<br />
<h1>{HEADER}</h1>
<table>
<tr>
<td>
Pavadinimas:
</td>
<td>
{NAME_LT}
</td>
</tr>
<tr>
<td>
Pavadinimas (angl.):
</td>
<td>
{NAME_EN}
</td>
</tr>
<tr>
<td>
Paaiškinimas:
</td>
<td>
{DEFINITION_LT}

{DEFINITION2_LT}
</td>
</tr>
<tr>
<td>
Taikymas:
</td>
<td>
{LIMITS}
</td>
</tr>
<tr>
<td>
Pavyzdys:
</td>
<td>
{SAMPLE_LT}
</td>
</tr>
<tr>
<td>
Pastaba:
</td>
<td>
{NOTE_LT}
</td>
</tr>
</table>