{HEAD}
<p>{MSG}</p><br />

<form method="POST" action="login.php">
<table>
  <thead>
    <tr>
      <th scope=col colspan=2>Prisijungti</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Paskyra:</td>
      <td><input type="text" name="login" size="10" maxlength="16">  </td>
    </tr>
    <tr>
      <td>Slaptažodis:</td>
      <td><input type="password" name="psw" size="10" maxlength="16"></td>
    </tr>
    <tr>
      <td><input type="submit" value="Prisijungti"></td>
      <td></td>
    </tr>
  </tbody>
</table>
</form><br>
{FOOTER}