{HEAD}

<div id="txt_left">
<h1>{CURRENT_SUBEJT}</h1>
<ul id="sort">
<li class="left">Viso: {AT_ALL} <span>Rušiuoti pagal:</span></li>
<li class="right"><a href="objects_by_subjects.php?subject={SUBJECT_ID}&order_by=clicks&page=1"><span>Parsisiuntimu skaičių</span></a></li>
<li class="right"><a href="objects_by_subjects.php?subject={SUBJECT_ID}&order_by=object_rating&page=1"><span>Vartotojų reitinga</span></a></li>
<li class="right"><a href="objects_by_subjects.php?subject={SUBJECT_ID}&order_by=title&page=1"><span>Abėcelę</span></a></li>
<li class="right"><a href="objects_by_subjects.php?subject={SUBJECT_ID}&order_by=modified&page=1"><span>Įvedimo datą</span></a></li>
</ul>
<!-- BEGIN DYNAMIC BLOCK: view -->
<div class="news">
{ID}
</div>
<!-- END DYNAMIC BLOCK: view -->

{PRINT_PAGES}

</div>
</div>

<div id="main_right">
{MENIU}
</div>
{FOOTER}
</div>

</div>
</body>
</html>