{HEAD}
<form enctype="multipart/form-data"  method="post" action="object_zip_upload_action.php">
Įkelti SCORM objektą (importuoti jo LOM metaduomenis):
<input name="F1" type="file" size="20" /><br />
<input type="submit" name="Submit" value="Įkelti" />
</form>
{FOOTER}
