</div>
<div id="footer">
  <div id="footer_left">(c) 2013 Visos teisės saugomos</div>
  <div id="footer_right"><a href="index2.php">Prisijungti</a></div>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-2943126-1";
urchinTracker();
</script>

