{HEAD}
<form method="POST" name="search" action="search_result.php">
<table>
  <thead>
    <tr>
      <th scope=col colspan=2>Atidaryti pagal id:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ID:</td>
      <td><input type="text" name="id" size="6" maxlength="10">
<a title='View object' onclick="document.location='../user/object_view.php?object_id=' + document.search.id.value;"><img border=0 src='../img/view.gif' alt='View'></a>
<a title='Save object' onclick="document.location='../user/object_export_lom.php?object_id=' + document.search.id.value;"><img border=0 src='../img/xml.gif' alt='Save object metadata'></a>
<a title='Edit object' onclick="document.location='../user/object_load.php?language=lt&object_id=' + document.search.id.value;"><img border=0 src='../img/edit_lt.gif' alt='Edit'></a>
<a title='Edit object' onclick="document.location='../user/object_load.php?language=en&object_id=' + document.search.id.value;"><img border=0 src='../img/edit_en.gif' alt='Edit'></a>
<a title='Delete object' onclick="doit('Delete?','../user/object_delete.php?object_id=' + document.search.id.value);"><img border=0 src='../img/delete.gif' alt='Delete'></a>
      </td>
    </tr>
  </tbody>
</table>
<br><br><br>
<table>
  <thead>
    <tr>
      <th scope=col colspan=2>Paieška:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Raktiniai žodžiai:</td>
      <td><input type="text" name="search" size="30" maxlength="100">  </td>
    </tr>
    <tr>
      <td>Klasifikatoriai:</td>
      <td><select name="classificator" size="20">
      <option value="">Visi metaduomenų laukai</option>
      {CLASSIFICATOR_OUTPUT}
      </select></td>
    </tr>
    <tr>
      <td><input type="submit" value="Ieškoti"></td>
      <td></td>
    </tr>
  </tbody>
</table>
</form><br>
Pagal <a href="http://eunbrux09.eun.org:8888/FireClient/index.jsp" target="_blank">Calibrate LRE paiešką.</a>
{FOOTER}
