{HEAD}
<div id="txt_left">
<div id="search_advanced">
 <form method="POST" name="form1" id="form1" action="search_result.php?page=1">

<blockquote>
  <table width="597">
    <tr>
      <td width="214"><p>Raktiniai žodžiai:</p>
        <p>
          <input type="text" name="search" value="Paieška:" class="input" onfocus="clickclear(this)"/>
        </p></td>
      <td width="208"><p>Amžiaus grupė</p>
        <p>Nuo
          <select size='1' name="agefrom">
       <option selected>U</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>&gt;25</option>
            </select>
          iki
  <select size='1' name="ageto">
    <option selected>U</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
    <option>24</option>
    <option>25</option>
    <option>&gt;25</option>
  </select>
        </p></td>
     <td width="121"><p>Kalba</p>{LOLANGUAGE}</td>
    </tr>
    <tr>
	<!-- BEGIN DYNAMIC BLOCK: classificator -->
      <td><p>{CLASSIFICATOR_TITLE}</p>
        <p name="classificator_{CLASSIFICATOR_ID}" size="1">
          <select name="classificator_{CLASSIFICATOR_ID}" size="1">
            <option value="">Nepasirinktas</option>
            
              
      {CLASSIFICATOR_OUTPUT}
      
            
              
          </select>
        </p></td>
		<!-- END DYNAMIC BLOCK: classificator -->
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><p><span class="left">Nuo:</span></p>
        <p><span class="left">
          <select name="from_year" size="1" id="from_year">
	    <option selected></option>
            <option value="2007">2007</option>
          </select>
        </span><span class="left">
        <select name="from_month" size="1" id="from_month">
	  <option selected></option>
          <option value="01">sausis</option>
          <option value="02">vasaris</option>
          <option value="03">kovas</option>
          <option value="04">balandis</option>
          <option value="05">gegu&#382;&#279;</option>
          <option value="06">bir&#382;elis</option>
          <option value="07">liepa</option>
          <option value="08">rugpj&#363;tis</option>
          <option value="09">rugs&#279;jis</option>
          <option value="10">spalis</option>
          <option value="11">lapkritis</option>
          <option value="12">gruodis</option>
        </select>
        </span><span class="left">
        <select name="from_day" size="1" id="from_day">
	  <option selected></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        </span></p></td>
      <td><p>Iki</p>
        <p><span class="left">
          <select name="to_year" size="1" id="to_year">
	    <option selected></option>
            <option value="2007">2007</option>
          </select>
          <select name="to_month" size="1" id="to_month">
	    <option selected></option>
            <option value="01">sausis</option>
            <option value="02">vasaris</option>
            <option value="03">kovas</option>
            <option value="04">balandis</option>
            <option value="05">gegu&#382;&#279;</option>
            <option value="06">bir&#382;elis</option>
            <option value="07">liepa</option>
            <option value="08">rugpj&#363;tis</option>
            <option value="09">rugs&#279;jis</option>
            <option value="10">spalis</option>
            <option value="11">lapkritis</option>
            <option value="12">gruodis</option>
          </select>
          <select name="to_day" size="1" id="select">
	    <option selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
        </span>        </p>        </td>
      <td><p>&nbsp;</p></td>
      </tr>
    <tr>
      <td><p>Kontekstas</p>
        {LOCONTEXT}</td>
      <td><p>Mokomojo objekto tipas</p>
        {LOTYPE}</td>
      <td><p>Mokamas</p>
        <select name='lom/rights/cost' size='1'>
          <option></option>
          <option>taip</option>
          <option>ne</option>
        </select>        </td>
    </tr>
    <tr>
      <td><p>Autorius</p>
        {LOAUTHOR}</td>
      <td><p>Formatas</p>
        {LOFORMAT}</td>
      <td><input type="image" src="img/icon5.jpg" name="submit" value="submit" class="submit" onclick="submitform();"/></td>
    </tr>
  </table>
  <p></p>
</blockquote>

        <blockquote>
          <p>
            
          </p>
          <p>&nbsp;</p>
      </blockquote>
</form>
</div>
</div>
</div>
<div id="main_right">
{MENIU}
</div>
{FOOTER}
</div>

</div>
</body>
</html>
