{HEAD}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />
<title>Lombase</title>
</head>
<div id="txt_left">

<table cellspacing="10">
<tr>
<th ><div align="left">
  <p><span class="style1">Mokomieji objektai:</span></p>
</div></th>
</tr><tr>
<th><div align="left"><span class="style1">Pavadinimas</span></div></th>
</tr>
<!-- BEGIN DYNAMIC BLOCK: view -->
<tr>

<td>
<div class="news">
<p>{ID}</p>
</div>
<!-- END DYNAMIC BLOCK: view -->
</table>
<br>
</div>
</div>
<div id="main_right">
{MENIU}
</div>
</body>
</html>
{FOOTER}
