<form method="POST" action="search_result_popup.php">
<input type="hidden" name="field" value="{FIELD}">
<table>
  <thead>
    <tr>
      <th scope=col colspan=2>Paieška:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Raktiniai žodžiai:</td>
      <td><input type="text" name="search" size="30" maxlength="100">  </td>
    </tr>
    <tr>
      <td>Klasifikatoriai:</td>
      <td><select name="classificator" size="20">
      <option value="">Visi metaduomenų laukai</option>
      {CLASSIFICATOR_OUTPUT}
      </select></td>
    </tr>
    <tr>
      <td><input type="submit" value="Ieškoti"></td>
      <td></td>
    </tr>
  </tbody>
</table>
</form><br>
