{HEAD}
{SUBMENU}
<form name="fClassificator" method="POST" action="standard_version_compare2.php">
<table>
<tr>
<th colspan="2">Palyginti versijas</th>
</tr><tr>
<td><select name=v1>{VERSION1}</select> palyginti su</td><td><select name=v2>{VERSION2}</select> <input type="submit" value="Palyginti">
</td>
</tr>
</table>
</form>
{FOOTER}
