<!-- the sub navigation -->
<div style="float: right; padding-top: 5px; padding-right: 5px;"></div>
<div id="sub-navigation">
<a title='Registruoti naują vartotoją' href='user_edit.php'><img src="../img/user.gif" border="0" /> Registruoti naują vartotoją</a> |
<a title='Objektų kortelių nustatymai' href='edit_wizard.php'></a> <a title='Objektų kortelių nustatymai' href='edit_version.php'></a></div>
<table width="357">
  <tr>
    <td width="34">&nbsp;</td>
    <td width='80'>&nbsp;</td>
    <td width='123'>&nbsp;</td>
    <td width='100'>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
