{HEAD}
{SUBMENU}
<form name="fUser" method="POST" action="user_save.php" enctype="multipart/form-data">
<input type=hidden name=userId value="{ID}">
<table>
<tr>
<th colspan="2">Vartotojo redagavimas</th>
</tr><tr>
<th>Prisijungimo vardas</th><td><input type="text" name="login" size="80" value="{LOGIN}"></td>
</tr><tr>
<th>Slaptažodis</th><td><input type="text" name="psw" size="80" value="{PSW}"></td>
</tr><tr>
<th>Vardas</th><td><input type="text" name="name" size="80" value="{NAME}"></td>
</tr><tr>
<th>Pavardė</th><td><input type="text" name="surname" size="80" value="{SURNAME}"></td>
</tr><tr>
<th>El.pašto adresas</th><td><input type="text" name="email" size="80" value="{EMAIL}"></td>
</tr><tr>
<th>Grupė</th><td><select name="grp">
<option value="u" {GRP_U}>Vartotojas</option>
<option value="a" {GRP_A}>Administratorius</option>
</select>
</tr><tr>
<th>Veiksmai</th><td>
<input type="submit" value="Saugoti">
<a title='Peržiūrėti' href='user_view.php?userId={ID}'><img border=0 src='../img/view.gif' alt='Peržiūrėti'></a>
<a title='Šalinti' href='javascript:doit("Šalinti?","user_delete.php?userId={ID}")'><img border=0 src='../img/delete.gif' alt='Šalinti'></a>
</td>
</tr>
</table>
</form>
{FOOTER}
