{HEAD}
{SUBMENU}
<table>
<tr>
<th colspan="2">Vartotojo peržiūra</th>
</tr><tr>
<th>id</th><td>{ID}</td>
</tr><tr>
<th>Prisijungimo vardas</th><td>{LOGIN}</td>
</tr><tr>
<th>Vardas</th><td>{NAME}</td>
</tr><tr>
<th>Pavardė</th><td>{SURNAME}</td>
</tr><tr>
<th>El.pašto adresas</th><td>{EMAIL}</td>
</tr><tr>
<th>Grupė</th><td>{GRP}</td>
</tr><tr>
<th>Veiksmai</th><td>
<a title='Redaguoti' href='user_edit.php?userId={ID}'><img border=0 src='../img/edit.gif' alt='Redaguoti'></a>
<a title='Šalinti' href='javascript:doit("Šalinti?","user_delete.php?userId={ID}")'><img border=0 src='../img/delete.gif' alt='Šalinti'></a>
</td>
</tr>
</table>
{FOOTER}
