{HEAD}
{SUBMENU}
<table cellspacing="10">
<tr>
<th >Vartotojai:</th>
</tr><tr>
<th>Prisijungimo vardas</th>
<th>Vardas</th>
<th>Pavardė</th>
<th>Objektų kiekis</th>
<th>Veiksmas</th>
</tr>
<!-- BEGIN DYNAMIC BLOCK: view -->
<tr>
<td>{LOGIN}</td>
<td>{NAME}</td>
<td>{SURNAME}</td>
<td>{OBJNUMBER}</td>
<td>
<a title='Peržiūrėti' href='user_view.php?userId={ID}'><img border=0 src='../img/view.gif' alt='Peržiūrėti'></a>
<!--a title='Redaguoti' href='user_edit.php?userId={ID}'><img border=0 src='../img/edit.gif' alt='Redaguoti'></a>
<a title='Šalinti' href='javascript:doit("Šalinti?","user_delete.php?userId={ID}")'><img border=0 src='../img/delete.gif' alt='Šalinti'></a-->
</td>
</tr>
<!-- END DYNAMIC BLOCK: view -->
</table>
<p>Viso LOMBASE vartotojų : {COUNTER} </p>
<p><br>
  {FOOTER}
</p>
