<p>{HEAD}
  
 </p>
<p>Nustatyti aktyvi&#261; versij&#261;:</p>
<form id="form1" name="form1" method="post" action="active_version.php?id=action">
  <p>
   <!-- BEGIN DYNAMIC BLOCK: view -->
   {RADIO}
   <!-- END DYNAMIC BLOCK: view -->
  </p>
   <input name="nustatyti" type="submit" id="nustatyti" value="Nustatyti" />
</form>
<p>{FOOTER} </p>
