.xml-leaf, .xml-group {
	float: left;
	width: 100%;
}

.xml-group-name-1 {
	font-size: 2em;
}

.xml-group-name-2 {
	margin-top: 1em;
	font-size: 1.5em;
}

.xml-group-name-3 {
	margin-top: 1em;
	font-size: 1.2em;
}

.xml-name {
	float: left;
	width: 30%;
	margin-left:100px;
}

.xml-value {
	float: left;
	margin-left: 1%;
}
