.xml-leaf, .xml-group {
	float: left;
	width: 100%;
}

.xml-group-name-1 {
	font-size: 2em;
}

.xml-group-name-2 {
	font-size: 1.5em;
}

.xml-group-name-3 {
	font-size: 1em;
}

.xml-name {
	float: left;
	width: 30%;
	text-align: right;
}

.xml-value {
	float: left;
	margin-left: 1%;
}
